.header {
	text-align: center;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.registrationContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;

	border-color: grey;
	border-width: 2px;
	border-top-style: solid;
}

.USContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;

	border-color: grey;
	border-width: 2px;
	border-top-style: solid;
}

.USResContainer {
	border-color: grey;
	border-width: 2px;
	border-top-style: solid;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
